

.content-sidebar-wrap{
    margin: 110 auto 30px;
    max-width: 50 !important;
}

.h1{
    position: absolute;
    justify-content: center;
    }

.h11{
        position: relative;
        justify-content: center;
        }

.puss1{
    position: absolute;
    height: 400px;
    width: 700px;
    justify-content: center;
    
}
.puss{
    position: absolute;
    height: 400px;
    width: 700px;
    justify-content: center;
    
}

.p{
    position: absolute;
    justify-content: center;
}